@font-face {
    font-family: 'Effra Bold';
    src: url(../fonts/Effra_Std_Bd.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Cores */
    --vermelho:#FF594E;
    --cinza-titulo:#4C4F59;
    --cinza:#484B57;
    --cinza-escuro:#3B4157;
    --cinza-Claro:#F5F5F5;
    --cinza2:#484b5794;
    --cinza-medio:#E6E7E7;
    --branco:white;
    --verde:#1FA628;
    /* overflow: hidden; */
}


body{
    max-width: 1777px;
    background-color: var(--branco);
}

h3{
    font-size:3.5vh;
    font-family: 'Roboto Slab', serif;
}
strong{
    font-weight: 700;
}

.container{
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    
}

.logo_home{
    height: 3vh;
    margin-bottom: 2vh;
    color: var(--cinza-escuro);
}

.home .titulo{
    margin-top: 5vh;
}

nav{
    height: 6vh;
    z-index: 1;
    box-shadow: 0px 5px 15px -5px var(--cinza2);
    -moz-box-shadow: 0px 3px 15px -5px var(--cinza2);
    -webkit-box-shadow: 0px 3px 15px -5px varce(--cinza2);
}

.home{
    background: url(../img/background-desktop.png) no-repeat center center/cover;
    height: calc(100vh - 6vh);
}
.titulo{
    
    font-size: 6vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: var(--cinza-titulo);
    width: 100vw;
    text-align: center;
}
.sub_titulo_home{
    margin-top: 0.8vh;
    margin-bottom: 2.2vh;
    font-weight: 200;
    padding: 0 .5vw 0 .5vw;
    font-size: 3.1vh;
    color: var(--branco);
    background-color: #1FA628;
}
.video_home{
    width: 45%;
    height: 60%;
    margin-bottom: 5vh;
}
.seta_home{
    margin-bottom: 5vh;
}



.page_2{
    
    height: 100vh;
    position: relative;
}

.page_2 .titulo{
    font-size: 5.2vh;
    margin-top: 10vh;
}

.page_2 .sub_titulo2{
    font-size: 2.5vh;
    
}
.sub_titulo2{
    color:var(--vermelho) ;
}
.page_2 .paragrafo{
    font-size: 2.6vh;
    width: 75%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-bottom: 3vh;
}

.destaque_texto{
    font-weight: 700;
}

.imagem_doutor{
    position: absolute;
    right: 17vw;
    bottom: 0;
    height: 82%;
    z-index: 5;
}


.page_3{
    
    position: relative;
    background-color: var(--cinza-escuro);
    padding-bottom: 3VH;
}
.antes_titulo_page_3{
    margin-top: 9vh;
    font-weight: 700;
    font-size: 4vh;
    color: var(--branco);
    text-align: center;
    width: 17vw;
    background-size: 17vw;
    background-repeat: no-repeat;
    background-image: url(../img/mark.svg);
}
.page_3 .titulo{
    color: var(--branco);
    font-size: 5vh;
    width: 60%;
    line-height: 0.8;
    margin-bottom: 6vh;
}

.card_1{
    height: 55vh;
    width: 55vh;
    background-color: var(--cinza-Claro);
    z-index: 5;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 10px 10px -2px var(--cinza2);
    -moz-box-shadow: 0px 10px 10px -2px var(--cinza2);
    -webkit-box-shadow: 0px 10px 10px -2px var(--cinza2);
}
.cards{
    margin-bottom: 8vh;
}

.card_header{
    margin-top: 2VH;
}

.card-header-texto{
    font-size: 3vh;
    border-radius: 10px;
    text-align: center;
    background-color: #606160;
    color: var(--branco);
    padding: 1.5vh;
    vertical-align: middle;
    min-height: 7.5vh;
    width: 90%;
}

input[type="radio"]{
    display: none;
}

.card_body li{
    list-style: none;
    font-size: 1.8vh;
    font-family: 'Roboto', sans-serif;
    color: var(--cinza2);
    margin-bottom: 1.8vh;
    margin-left: 2.2vw;
    align-items: center;
    position: relative;
}


.iten_card{
    left: -1.5vw;
    top: 0.5vh;
    position: absolute;
    width :2vh;
    height: 2vh;
    background-size: 2vh;
    background-repeat: no-repeat;
}

.lista_card .desmarcada{
    
background-image: url(../img/check-icon.png);
}
.lista_card .marcada{
background-image: url(../img/check-icon-green.png);
}

.card_1 .preco{
    font-size: 2.85vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: var(--cinza);
    /* margin-top: 1vh; */
}
.card_1 .economia{
    font-size: 2.5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: var(--verde);
    position: relative;
    top:-10px;
}
.precos{
    position: absolute;
}

.card_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    margin-bottom: 3VH;
}

input[type="radio"]:checked + .label_selecao {
    background-color: #1FA628;
    color: var(--branco);
}
input[type="radio"]:checked + .label_selecao .numero_card_selecao {
    color: var(--branco);
}

.numero_card_selecao{
    color: var(--cinza2);
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
    font-weight: 500;
    padding: 0;
    position: absolute;
    top: 0;
}

.label_selecao{
    color: var(--cinza2);
    position: relative;
    font-family: 'Roboto Slab ', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 2.0vh;
    margin: 5px;
    margin-bottom: 3.4vh;
    padding-bottom: 0.8vh;
    height: 10vh;
    width: 12vh;
    border-radius: 5px;
    background-color: var(--cinza-medio);
}

.botao_card{
    font-size: 2.5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    border-radius: 30px;
    background-color: var(--vermelho);
    color: var(--branco);
    border: none;
}

.label_assinatura{
    display: block;
    position: relative;
    padding: 1.8vh;
    padding-left: 2vw;
    height: 9vh;
    width: 20vw;
    text-align: center;
    font-size: 2vh;
    background-color: var(--cinza-medio);
    cursor: pointer;
}

.label_assinatura input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox_card{
    position: absolute;
    left: 2vh;
    top: 1.8vh;
    width :3.2vh;
    height: 3.2vh;
    background-repeat: no-repeat;
    background-size: 3.2vh;
}

.desmarcada{
    background-image: url(../img/check-icon-mobile.png);
}

.marcada{
    background-image: url(../img/check-icon-mobile-checked.png);
}

.badge_card2{
    position: absolute;
    top: -7vh;
    right: -0.7164vh;
    width: 11vh;
    height: 11vh;
    background-image: url(../img/badge.png);
    background-size: 11vh;
    background-repeat: no-repeat;
}

.card_2{
    position: relative;
    height: 48vh;
    width: 48vh;
    background-color: var(--cinza-Claro);
    position: relative;
    list-style: none;
    border-radius: 0 15px 15px 0 ;
    box-shadow: 5px 10px 10px -2px var(--cinza2);
    -moz-box-shadow: 5px 10px 10px -2px var(--cinza2);
    -webkit-box-shadow: 5px 10px 10px -2px var(--cinza2);
}


.page_4{
    
}

.page_4 .titulo{
    margin-top: 7vh;
    
}

.page_4 .sub_titulo2{
    font-size: 3vh;
    margin-bottom: 7vh;
    
}

.card_longo{
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 10px -5px var(--cinza);
    -moz-box-shadow: 0 0 10px -5px var(--cinza);
    -webkit-box-shadow: 0 0 10px -5px var(--cinza);
    border-radius: 20px;
    width: 60vw;
    padding: 3.5vh;
}

.selo_garantia{
    height: 20vh;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 1vh;
}
.card_longo .paragrafo span{
    font-weight: 700;
    color: #000;
}

.card_longo .paragrafo{
    margin-right: 0;
    font-size: 2.05vh;
    width: 100%;
    color: var(--cinza);
    opacity: 0.8;
}
.galeria_fotos{
    justify-content: center;
    margin: auto;
}
.imagens_resultado{
    width: 40%
}

.observacao{
    font-family: 'Roboto', sans-serif;
    font-size: 1.95vh;
    width: 55%;
    color: var(--cinza2);
    margin-top: 0.5vh;
    margin-bottom: 10vh;
    text-align: justify;
    line-height: 1.3;
}

.page_6 .observacao{
    font-size: 1.5vh;
    width: 50%;
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.page_5{
    
    background-color: var(--cinza-escuro);
    color: var(--branco);
}


.page_5 .titulo{
    font-size: 5.5vh;
    color: var(--branco);
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: 700;
}

.page_5 section{
    width: 55%;
    margin-bottom: 5rem;
}

.page_5 summary{
    list-style: none;
    font-size: 1.1rem;
}

.page_5 hr{
    border-color: #F5F5F5;
    opacity: .7;
    width: 100%;
}

.page_5 i{
    color: var(--vermelho);
}

.page_5 p{
    font-size: 1rem;
    margin-top: 1rem;
    width: 80%;
    margin-left: 1.8rem;
}

.page_6 {
    
    font-size: 2.9vh;
    color: var(--cinza);
}
.page_6 ul,p{
    opacity: 0.7;
}

.page_6 .titulo{
    font-size: 6vh;
    margin-top: 10vh;
    margin-bottom: 1vh;
    width: 48%;
}

.page_6 .sub_titulo2{
    font-size: 3vh;
    margin-bottom: 6vh;
}
.page_6 .paragrafo{
    color: var(--cinza2);
}

.page_6 .lado_esquerdo{
    width: 50%;    
}

.page_6 .lado_direito{
    width: 50%;    
}

.imagem_page_6{
    margin-top: 6vh;
    width: 30vw;
}
.page_6 .caixa_textos{
    width: 75vw;
    margin-bottom: 15vh;
}

.page_6 li{
    margin-bottom: 2vh;
    margin-left: 1vh;
    list-style: none;
}
.page_6 .lado_esquerdo li::before{
    content: "•";
    color: var(--verde);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.rodape{
    width: 50%;
    margin-top: 2vh;
    margin-bottom: 5vh;
    text-decoration: none;
}

.rodape a{
    color: var(--cinza2);
    text-decoration: none;
}
.texto_rodape{
    font-size: 1.5vh;
    color: var(--cinza2);
}